@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Lato:wght@300;400&family=Open+Sans+Condensed:ital,wght@1,300&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400;500&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
body{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.form-main-user-info{
    width: 580px;
    display:flex;
}

.form-outside-border{
    border: 1px solid #DADCE0;
    padding: 30px;
    margin:175px auto auto auto;
    width:700px;
    border-radius: 6px;
    display: flex;
    box-sizing: border-box;
}

.form-inner-head{
    display:flex;
    flex-direction: column;
}

h3{
    font-family: "roboto",sans-serif;
    font-weight:400;
    font-size:24px;
    transform: translateY(-15px);
    letter-spacing: 0.5px;
}

.form-inner-head img{
    text-align: left;
    width:150px;
    transform: translateX(-36px);
    z-index:-1;
}


.form-input {
    border : 2px solid #eee;
    border-radius: 4px;
    height:30px;
    transition: 0.25s ease;
    margin-right:10px;
    margin-bottom:16px;
}


.form-input {
    border : 2px solid #eee;
    border-radius: 4px;
    height: 30px;
    transition: 0.25s ease;
}

.form-input:focus{
    outline:none;
    border-color: blue;
}

.form-field{
    position: relative;
}


.form-label {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 210px; /*padding bao nhieu thi left tung day ( o tren padding 20 thi left phai lay : 0 + 20 de con tro nam dung vao vi tri caret*/
    user-select: none;
    color: #999;
    pointer-events: none; /* Khong bi vuong phai label khi click vao vung input */
    transition: ease-in-out 100ms;
}
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
        top: 0;
        left: 5px;
        padding: 0 10px;
        display:block;
        background-color: white;
        color: #6f62e7;
        font-size:13px;
        font-family: "roboto",sans-serif;
}


input[type="text"]:not(:focus) + .form-label {
    color: black;
    opacity: 0.7;
}

input[type="email"]:not(:focus) + .form-label-special {
    color: black;
    opacity: 0.7;
}

input[type="password"]:not(:focus) + .form-label-special {
    color: black;
    opacity: 0.7;
}


input[type="text"],input[type="email"],input[type="password"]{
    font-size:15px;
    font-family: "roboto",sans-serif;
    box-sizing: inherit;
}

/* :placeholder-shown */



.form-input:focus{
    outline:none;
    border-color: #6a5af9;
}

.form-field{
    position: relative;
}

.form-label {
    position: absolute;
    top:30%;
    transform: translateY(-50%);
    left: 10px; /*padding bao nhieu thi left tung day ( o tren padding 20 thi left phai lay : 0 + 20 de con tro nam dung vao vi tri caret*/
    user-select: none;
    color: black;
    pointer-events: none; /* Khong bi vuong phai label khi click vao vung input */
    transition: ease-in-out 100ms;
    font-family: "roboto",sans-serif;
}

.form-field img{
    position:absolute;
    top:12%;
    left:270px;
    z-index: 0;
    user-select: none;
}

#email{
    width:356px;
}

.small-text{
    font-size:13px;
    font-family: "Kanit",sans-serif;
    font-weight:550;
    transform: translateY(-10px);
    margin-left:20px;
}

a{
    color: #177bfd;
    text-decoration: none;
    font-size:14px;
    margin-left:6px;
    font-family: "roboto","Kanit",sans-serif;
    font-weight:500;
    margin-bottom:45px;
    display: block;
    height:14px;
    width:240px;
}

a:hover{
    color: #0058ca;
}

.form-label-special {
    position: absolute;
    top:20%;
    transform: translateY(-50%);
    left: 10px; /*padding bao nhieu thi left tung day ( o tren padding 20 thi left phai lay : 0 + 20 de con tro nam dung vao vi tri caret*/
    user-select: none;
    color: black;
    font-family: "roboto",sans-serif;
    pointer-events: none; /* Khong bi vuong phai label khi click vao vung input */
    transition: ease-in-out 100ms;
}
.form-input:not(:placeholder-shown) +.form-label-special,
.form-input:focus + .form-label-special {
        top: 0;
        left: 5px;
        padding: 0 10px;
        display:block;
        background-color: white;
        color: #6f62e7;
        font-size:13px;
        font-family: "roboto",sans-serif;
}

.form-password{
    display:flex;
}

.small-text-2{
    display: block;
    font-size:13px;
    font-family: "Kanit",sans-serif;
    font-weight:550;
    transform: translateY(-10px);
    transform: translateX(-177px);
}

input[type="checkbox"]{
    margin-top:10px;
    cursor:pointer;
    outline:black;
    font-family: "Oswald",sans-serif;
    font-weight: bold;
    transform: scale(1.2);
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left:10px;
}

.svg-logo img{
    width:250px;
}

.svg-logo{
    text-align: center;
    margin-left:-176px;
    margin-top:90px;
    display:flex;
    flex-direction: column;
    font-family: "roboto",sans-serif;
    font-weight:100;
    font-size:15px;
}

.signup-signin{
    display:flex;
    margin-top:50px;
}


.next-button{
    border:1px solid #1A73E8;
    min-width:75px;
    min-height:40px;
    transform: translateX(25px);
    background:#1A73E8;
    color:white;
    font-family: "roboto",sans-serif;
    cursor:pointer;
    border-radius: 4px;
    font-weight:500;
    transition: ease-in-out 100ms;
}

.next-button:hover{
    background:#1955a3;
}

.next-button:active{
    background:#104486;
}
