@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Lato:wght@300;400&family=Open+Sans+Condensed:ital,wght@1,300&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

:root {
  --bg-color: rgb(255, 255, 255);
  --typewriterSpeed: 3s;
  --typewriterCharacters: 15;
}

html {
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

* {
  font-family: "roboto", sans-serif;
}


.header-container {
  background: white;
  font-family: "Work Sans";
  font-weight: 300;
  margin-left: 15rem;
}

header {
  background: white;
  height: 150px;
  box-sizing: border-box;
  margin: 0 auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

header::after {
  content: "";
  display: table;
  clear: both;
  margin: 0 auto;

}

.header-logo {
  cursor: pointer;
  float: left;
  width: 250px;
  height: 11rem;
  background-image: url("../img/pleasant-tour-3.png");
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-top: -20px;
  text-indent: -9999%;
}

nav {
  margin: auto auto auto 400px;
}

nav ul {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  position: relative;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 30px;
  position: relative;
  -webkit-transition: padding .05s linear;
  -moz-transition: padding .05s linear;
  -ms-transition: padding .05s linear;
  -o-transition: padding .05s linear;
  transition: padding .05s linear;
}



.main-a {
  display: inline-block;
  text-decoration: none;
  color: #5c5c5c;
  font-size: clamp(10px, 18px, 19px);
  text-transform: uppercase;
  width: max-content;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.main-a:hover {
  color: black;
}

.main-a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0%;
  background-color: #444;
  position: absolute;
  transition: all ease-in-out 300ms;
}

.main-a:hover::after {
  width: 100%;
}

.minor-a {
  display: block;
  text-decoration: none;
  color: #5c5c5c;
}

.minor-a:hover {
  color: #5c5c5c;
}

nav ul li.drop {
  position: relative;
  transition: all 300ms ease-in-out;
}

.dropOut .triangle {
  width: 0;
  height: 0;
  position: absolute;
  top: 1px;
  left: 50%;
  margin-left: -8px;
}

.dropdownContain {
  width: 160px;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -80px;
  /* half of width */
  top: -400px;
}

.drop:hover .plus-mark {
  transform: rotate(135deg);
  font-size: 22px;
}

.drop-2:hover .plus-mark {
  transform: rotate(135deg);
  font-size: 22px;
}

.dropOut {
  display: block;
  width: 210px;
  background: white;
  float: left;
  position: relative;
  margin-top: -10px;
  transform: translateY(-9px);
  margin-left: -17px;
  opacity: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.dropOut ul {
  float: left;
  padding: 10px 0;
}

.dropOut ul li {
  display: block;
  text-align: left;
  float: left;
  width: 180px;
  padding: 12px 0 10px 15px;
  margin: 0px 10px;
  color: #777;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background .1s ease-out;
  -moz-transition: background .1s ease-out;
  -ms-transition: background .1s ease-out;
  -o-transition: background .1s ease-out;
  transition: background .1s ease-out;
  cursor: pointer;
  font-size: clamp(10px, 18px, 19px);
}

.plus-mark-rotate:hover .plus-mark {
  transform: rotate(135deg);
  font-size: 22px;

}

.dropOut ul li a {
  display: block;
  text-decoration: none;
}

.dropOut ul li a:hover::after {
  text-decoration: none;
  width: 0%;
}

.dropOut ul li:hover {
  background: #ececec;
}


ul li:hover .dropdownContain {
  top: 65px;
}



ul li:hover .dropOut {
  opacity: 1;
  margin-top: 8px;
}

.dropOut-2 .triangle {
  width: 0;
  height: 0;
  position: absolute;
  top: 1px;
  left: 50%;
  margin-left: -8px;
}

.dropdownContain-2 {
  width: 160px;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -100px;
  /* half of width */
  top: -400px;
}

.dropOut-2 {
  width: 250px;
  background: white;
  float: left;
  position: relative;
  margin-top: -10px;
  transform: translateY(-15px);
  margin-left: -27px;
  opacity: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.dropOut-2 ul {
  float: left;
  padding: 10px 0;
}

.dropOut-2 ul li {
  text-align: left;
  float: left;
  width: 230px;
  padding: 12px 0 10px 15px;
  margin: 0px 10px;
  color: #777;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background .1s ease-out;
  -moz-transition: background .1s ease-out;
  -ms-transition: background .1s ease-out;
  -o-transition: background .1s ease-out;
  transition: background .1s ease-out;
  cursor: pointer;
  font-size: clamp(10px, 18px, 19px);
}

.dropOut-2 ul li a {
  text-decoration: none;
}

.dropOut-2 ul li:hover {
  background: #ececec;
}


ul li:hover .dropdownContain-2 {
  top: 65px;
}

ul li:hover .underline {
  color: black;
}

ul li:hover .dropOut-2 {
  opacity: 1;
  margin-top: 8px;
}



* {
  box-sizing: border-box;
}

.search-bar {
  margin: 10px;
  border-bottom: 1px solid #8e8d8d;
  width: 260px;
  font-size: 15px;
  font-family: "roboto", sans-serif;
  font-weight: 300;
  padding: 6px 5px 0;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  display: inline-block;
}

.search-bar:focus {
  outline: none;
}

.col-flexs {
  margin: auto auto auto 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.above-nav {
  margin: auto auto auto 100px;
  display: inline-block;
}

.above-nav-inner {
  display: inline-block;
}

.btn-contact-inner {
  font-size: 17px;
  line-height: 28px;
  padding: 0 10px;
  border: 1px solid #20abe2;
  border-radius: 20px;
  margin: 10px;
  color: #20abe2;
  user-select: none;
  -webkit-user-select: none;
  font-family: "roboto", sans-serif;
  text-decoration: none;
  font-weight: 400;
  transition: 150ms ease-in-out;
}

.btn-contact-inner:hover {
  border: 1px solid #f49433;
  color: white;
  background: #f49433;
}

.btn-contact {
  display: inline-block;
}

.search-form {
  display: inline-block;
}

.btn-search {
  display: inline;
}

.btn-search-inner {
  display: inline;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  margin-left: -10px;
  margin-top: 5px;
  border: none;
  outline: none;
  -webkit-appearance: none !important;
  cursor: pointer;
  background: transparent;
  line-height: normal;
  text-transform: none;
}

.search-icon {
  display: inline;
  text-align: center;
  width: 20px;
}

.btn-notification {
  display: inline;
  margin-left: 4px;
}

.btn-notification-inner {
  display: inline;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  margin-left: -10px;
  margin-top: 5px;
  border: none;
  outline: none;
  -webkit-appearance: none !important;
  cursor: pointer;
  background: transparent;
  line-height: normal;
  text-transform: none;
}

.notification-icon {
  display: inline;
  text-align: center;
  width: 20px;
}

.welcome-feature {
  position: relative;
  text-align: center;
  display: inline-block;
}

h2.typing {
  font-size: 16px;
  position: relative;
  font-family: monospace;
  width: max-content;
  margin-left: 12px;
  transform: translateY(1px);
  font-weight: 500;
}

h2.typing::before,
h2.typing::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h2.typing::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

h2.typing::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1500px) {
  nav {
    margin: auto auto auto 180px;
  }
}

@media screen and (max-width: 1330px) {
  nav {
    margin: auto auto auto 150px;
  }
}

@media screen and (max-width: 1285px) {
  nav {
    margin: auto auto auto 100px;
  }
}